@font-face {
    font-family: 'DM Sans';
    src: url(Fonts/static/DMSans-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url(Fonts/static/DMSans-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url(Fonts/static/DMSans-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0% 10%;
    background: #F2F2F2;

}

.cabecera {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    /*que no salgan las cosas del contenedor*/
}

.cabecera__titulo {
    display: flex;

}

.cabecera__logo {
    margin-right: 6.063em;
    /*se pone em para que la distancia no se absoluta*/

}

.cabecera__ubicacion {
    margin-left: 6.063em;

}

.cabecera__h5 {
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500px;
    line-height: normal;
}


.cabecera__enlace {
    display: flex;
    margin-top: 30px;

}


.cabecera__links {
    font-family: 'DM Sans';
    font-size: 18px;
    margin-right: 4.5em;

}


.cabecera__link {
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    color: #252422;
}

.cabecera__mail {
    font-family: 'DM Sans';
    font-size: 18px;
    margin-left: 4.5em;

}


.cabecera__u {
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    border-bottom: 1px solid #252422;
    /*hacer una linea*/
    padding-bottom: 6px;
    /*espaciado de la linea*/
}

.presentacion {
    margin-bottom: 20%;
}

.presentacion__h1 {
    color: #252422;
    font-family: 'DM Sans';
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95%;
    /* 68.4px */
    letter-spacing: -2.88px;
    text-transform: uppercase;

}

.presentacion__p {
    color: #252422;
    font-family: 'DM Sans';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.6px;

}


.trabajo {
    max-width: 100%;
    height: auto;
}

.trabajo__detalles {
    display: flex;
    justify-content: space-between;
}

.trabajo__h5 {
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.trabajo__logo {
    height: 15px;
    width: 15px;
}

.contenedor {

    max-width: 80%;
    max-height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    margin: 0 auto;
    /* Centra el contenedor en la página */
}


.contenedor_imagen a {
    cursor: url('verProyecto.svg'), auto;
    /*cambiar puntero */
}

.contenedor_imagen {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 12px;

}


/* Efecto hover */
.contenedor_imagen:hover img {
    transform: scale(1.1);
    /* Efecto de zoom */
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    transition: transform 0.4s ease;


}

.proyecto {
    display: flex;

}

.proyecto__parrafo {
    width: 15%;
    /* Ajusta el ancho del contenedor según tus necesidades */
    margin-left: 200px;
    /* Centra el contenedor en la página horizontalmente */
    margin-right: auto;
    /*se ajusta al contenedor*/
    padding: auto;
    overflow: hidden;

}

.proyecto__p {
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    overflow: hidden;
}

.proyecto__anio {
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.proyecto__categoria {
    min-width: 200px;


}

.proyecto__nombre {
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}


.trabajo__info {
    display: flex;
    overflow: hidden;
    
}

.trabajo__categoria {
    padding-top: 240px;
    height: auto;
    overflow: hidden;
    min-width: 200px;

}

.trabajo__nombre {
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.trabajo__p {
    color: #252422;
    font-family: 'DM Sans';
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 700px;
    /* Ajusta el ancho del contenedor según tus necesidades */
    margin-top: 240px;
    margin-bottom: 240px;
    /* Ajusta el margen izquierdo para centrar más a la derecha */
    margin-left: 200px;
    /* Centra el contenedor en la página horizontalmente */
    overflow: hidden;

}


/*footer*/
.pie-pagina__hablamos {
    display: flex;
    justify-content: space-between;

}

.pie-pagina__h5 {
    display: flex;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.pie-pagina__correo {
    margin-top: -120px;
    display: flex;
    justify-content: center;
    font-family: 'DM Sans';
    font-size: 50px;
    font-style: normal;
    font-weight: 80;
    line-height: normal;

    /*mayusculas*/



    white-space: nowrap;
    /* Evita que el texto se divida en varias líneas */
    animation: marquee 10s linear infinite;
    /* Aplica la animación de desplazamiento */
}

/* Definición de la animación */
@keyframes marquee {
    from {
        transform: translateX(100%);
    }

    /* Inicia el desplazamiento desde la derecha */
    to {
        transform: translateX(-100%);
    }

    /* Termina el desplazamiento hacia la izquierda */
}


.pie-pagina__b {
    width: 310px;
    padding: 24px 32px;
    /*24 arribay abajo 32 izq dere*/
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid #252422;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /*para el boton de descarga*/
    cursor: url('punteroCirc.png'), pointer;
    /* Añade un cursor de puntero al botón */
    transition: background-color 0.3s;
    /* Agrega una transición suave al cambio de color de fondo */


}

.pie-pagina__b:hover {
    background-color: #252422;
    /* Color de fondo cuando se pasa el ratón sobre el botón */
    color: #fff;
    /* Cambia el color del texto cuando se pasa el ratón sobre el botón */
    /* Puedes agregar más estilos de hover según tus preferencias */
}



.pie-pagina__informacion {
    display: flex;
    justify-content: space-between;
    margin-top: 240px;
}

.pie-pagina__vivir {
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pie-pagina__enlace {
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    color: #252422;
}

.pie-pagina__link {
    margin-top: 30px;
}

.pie-pagina__h1 {
    margin-top: 80px;
    color: #252422;
    font-family: 'DM Sans';
    font-size: 76px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -3.04px;
    text-transform: uppercase;
}

/*****************************************************************************************/

/* El css es parcticamente igual por eso voy a usarlo para las dos paginas */



.titulo {
    color: #252422;
    text-align: center;
    font-family: 'DM Sans';
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -2.88px;
    text-transform: uppercase;
}


.proyecto__descripcion {
    display: flex;

}

.proyecto__div {
    min-width: 500px;

}

.proyecto__desarrollo {
    width: 30%;
    /* Ajusta el ancho del contenedor según tus necesidades */
    margin-left: 200px;
    /* Centra el contenedor en la página horizontalmente */
    margin-right: auto;
    /*se ajusta al contenedor*/
    padding: auto;
    overflow: hidden;
    margin-bottom: 226px;

}

.proyecto__h5 {
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-bottom: 1px solid #CFCFCF;
    /*hacer una linea*/
    padding-bottom: 6px;
    /*espaciado de la linea*/

}


.proyecto__siguiente {
    color: #252422;
    font-family: 'DM Sans';
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -2.88px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.trabajo__2 {
    display: flex;
    justify-content: space-between;

}

/*para hacer un hover primero ajustar el contenedor de la imagen, luego el de la imagen
y por ultimo se pone el efecto que une a los doscontenedores */
.img__trabajo {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    margin-bottom: 196px;
    cursor: url('verProyecto.svg'), auto;
    /*cambiar puntero, cuando tengala url se cambia el puntero a la (a) */
}

.img__trabajo__2 {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    transition: transform 0.4s ease;
}

.img__trabajo:hover .img__trabajo__2 {
    transform: scale(1.1);
    /* Efecto de zoom */

}

.proyecto__frase {
    margin-top: 20px;
    margin-right: 401px;
    margin-bottom: 240px;
    margin-left: 401px;
    width: auto;
    height: auto;


}

.proyecto__frase--parrafo {
    color: #252422;
    font-family: 'DM Sans';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.6px;
}


button {
    background-color: #252422;
    color: #fff;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1f1e1e;
}




/* Aplica la media query para ajustar el tamaño del texto en diferentes tamaños de pantalla */
@media only screen and (max-width: 767px) {
    /* Estilos para dispositivos con un ancho máximo de 767px, como smartphones en orientación vertical */

    body {
        margin: 0 5%; /* Reducir el margen lateral */
    
    }
   .cabecera__titulo{
        font-size: 10px;
    }

    .cabecera__logo {
        margin-right: 1em;
         /* Reducir el margen entre el logo y el título */
    }

    .cabecera__ubicacion {
        margin-left: 1em; /* Reducir el margen entre el título y la ubicación */
    }

    .cabecera__links {
        margin-right: 2em; /* Reducir el margen entre los enlaces */
    }

    .cabecera__mail {
        margin-left: 2em; /* Reducir el margen entre los enlaces y el correo */
    }

    .presentacion__h1{
        font-size: 40px;
    }
    .presentacion__p{
    font-size: 32px;
    }

    .proyecto__parrafo {
        width: 100%; /* Cambiar el ancho del contenedor al 100% para ocupar todo el ancho disponible */
        margin-left: 0; /* Eliminar el margen izquierdo */
        margin-right: 0; /* Eliminar el margen derecho */
        padding: 0; /* Eliminar el padding */
      
    }
    .proyecto__p{
        font-size: 18px;
    }
    .trabajo__h5{
        font-size: 12px;
        
    }

    .trabajo__info {
        display: block; /* Cambiar a display:block para que los elementos se apilen verticalmente en dispositivos móviles */
        overflow: hidden;
        margin-bottom: 200px;
    }

    .trabajo__categoria {
        padding-top: 200px; /* Reducir el espacio superior */
        padding-bottom: 10px; /* Agregar espacio inferior */
        min-width: 100px; /* Reducir el ancho mínimo */
    }

    .trabajo__nombre {
        font-size: 24px; /* Reducir el tamaño de la fuente para dispositivos móviles */
        text-align: center; /* Centrar el texto */
       
    }

    .trabajo__p {
        font-size: 18px; /* Reducir el tamaño de la fuente para dispositivos móviles */
        width: 100%; /* Ajustar el ancho al 100% para ocupar todo el espacio disponible */
        margin: 5px auto; /* Añadir margen en todas las direcciones y centrar horizontalmente */
        text-align: center; /* Centrar el texto */
    }

    /*****adaptacion proyectos*/
    .titulo {
        font-size: 36px; /* Tamaño de fuente más pequeño para dispositivos móviles */
        letter-spacing: -1.44px; /* Ajuste del espaciado entre letras */
    }

    .proyecto__descripcion {
        flex-direction: column; /* Cambia la dirección del flexbox a columna para dispositivos móviles */
        align-items: center; /* Centra los elementos en el eje horizontal */
    }

    .proyecto__div {
        min-width: auto; /* Elimina el ancho mínimo para dispositivos móviles */
        margin-bottom: 20px; /* Espacio entre elementos */
    }

    .proyecto__desarrollo {
        width: 100%; /* Ajusta el ancho al 100% para dispositivos móviles */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        padding: 0; /* Elimina el padding */
        overflow: hidden;
        margin-bottom: 30px; /* Ajusta el margen inferior según tus necesidades en dispositivos móviles */
    }

    .proyecto__siguiente {
        font-size: 36px; /* Tamaño de fuente más pequeño para dispositivos móviles */

        margin-bottom: 16px; /* Ajuste del margen inferior */
    }

.proyecto__nombre{
    color: #252422;
    text-align: center;
    font-size: 36px; /* Tamaño de fuente más pequeño para dispositivos móviles */
    letter-spacing: -1.44px;

}

    .trabajo__2 {
        flex-direction: column; /* Cambia la dirección del flexbox a columna para dispositivos móviles */
    }

    .proyecto__frase {
        margin: 20px 16px 240px; /* Ajusta los márgenes para dispositivos móviles */
        width: auto;
        height: auto;
    }

    .proyecto__frase--parrafo {
        font-size: 24px; /* Tamaño de fuente más pequeño para dispositivos móviles */
        letter-spacing: -0.96px; /* Ajuste del espaciado entre letras */
    }
}

    
   


